---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";
import ProjectDialog from "../components/projects/ProjectDialog.astro";
import { getAllProjects } from "../data/projects";

const projects = getAllProjects();
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Projects</div>
    </div>
    
    {projects.map((project, index) => (
        <>
            <ProjectCard project={project} />
            {index < projects.length - 1 && <div class="divider my-0"></div>}
        </>
    ))}
    
    <ProjectDialog />
</BaseLayout>