---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Projects</div>
    </div>
    <ProjectCard
            title="Zontix"
            img="/projects/zontix.webp"
            desc="Developing an event management app that uses blockchain under the hood to issue NFT tickets."
            url="zontix.com"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc", "Crypto", "Event Management"]}
    />
    <ProjectCard
            title="Firstock Trading App"
            img="/projects/firstock_trading.webp"
            desc="Developing a stock market app for a client using Flutter. The app has various features like stock trading, portfolio management, and more."
            url="#"
            playStore="https://play.google.com/store/apps/details?id=in.firstock.mobile"
            appStore="https://apps.apple.com/us/app/firstock-trade-invest/id6746480444"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc", "Websockets", "Trading"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Indy App"
            img="/projects/indy_consumer.webp"
            desc="Developed a Fintech app for a client in Flutter. The app has various features like UPI payments, Wallet, and more."
            url="#"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Pragati ERP"
            img="/projects/pragati.webp"
            desc="An ERP tablet app built using Flutter for a Jewellery Client used for billing and inventory management. Currently in production and maintained by me."
            badge="MAINTANENCE"
            tags={["Flutter", "ERP", "Client", "Flutter Bloc"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Mello"
            img="/projects/mello.webp"
            desc="Developed 'Mello', a reel-based event discovery app targeting the Bangalore audience, enhancing local social engagement. Utilized MongoDB and Node.js for backend operations, Flutter for app development, Mixpanel for analytics, and Clevertap for push notifications."
            playStore="https://play.google.com/store/apps/details?id=com.mello.mello"
            appStore="https://apps.apple.com/in/app/mello-weekend-event-guide/id6450921757"
            tags={["Flutter", "Flutter Bloc", "Node.js", "MongoDB", "Mixpanel", "Clevertap", "Client", "Event Management", "Social"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Auto Finance Canada"
            img="/projects/van_auto.webp"
            desc="Spearheaded the development of a comprehensive CRM web application for Auto Finance Canada, built with Flutter Web and backed by Supabase, to streamline automotive financing operations."
            tags={["Flutter", "Flutter Bloc", "Flutter Web", "Supabase", "CRM", "Client"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Rosette"
            img="/projects/rosette.webp"
            desc="Innovated a health monitoring app, 'Rosette'. incorporating smart data syncing and local storage solutions using Isar, aimed at enhancing patient care and data management,"
            tags={["Flutter", "Flutter Bloc", "IOT", "Health", "Client"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Haqdarshaq Wallet App"
            img="/projects/haqdarsahaq.webp"
            desc="Developed a web application for Haqdarshaq, enabling efficient wallet and card management for their customers, leveraging Flutter Web for a responsive UI/UX design."
            tags={["Flutter", "Flutter Bloc", "Flutter Web", "Fintech", "Client"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Dota 2 Soundboard App"
            img="/projects/dota2sounboard.webp"
            desc="Built a music board for a game I used to play called Dota2Soundboard using the Flutter UI Development Kit and GetX state management and SQFlite. MAU of 1.5k+ users with more than 10k+ downloads."
            tags={["Flutter", "GetX", "Gaming", "Personal"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="The Bridgeman"
            img="/projects/bridgeman.webp"
            desc="Built a contact website for a client The Bridgeman using Flutter Web."
            url="https://hello.thebridgeman.in/"
            tags={["Flutter Web", "Client"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="HR Designs"
            img="/projects/hrdesigns.webp"
            desc="Built a website for a client HR Designs using Bootstrap and HTML/CSS."
            url="https://hrdesigns.in/"
            tags={["HTML", "Bootstrap", "Client"]}
    />
    <div class="divider my-0"></div>

</BaseLayout>
